.main {
  text-align: center;
  margin-top: 20px;
}

h1 {
  margin-bottom: 10px;
}

h3 {
  background-color: yellow;
  color: green;
  padding: 10px;
  border-radius: 5px;
}

.girls {
  margin-top: 50px;
}

.plus-btns {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.plus-btns button {
  border-radius: 10px light pink;
  height: 30px;
  width: 50px;
}

.data-names {
  font-size: 40px;
}
